<!DOCTYPE html>
<html>
<head>
    <title>Horario</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ccc;
            text-align: center;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Horario</h1>
    <a href="pagina1.html">Ir a Página 1</a></li>
    <a href="pagina2.html">Ir a Página 2</a></li>
    <table>
        <thead>
            <tr>
                <th>Hora</th>
                <th>Lunes</th>
                <th>Martes</th>
                <th>Miercoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>7:00 AM</td>
                <td>Capstone</td>
                <td>MASD2</td>
                <td>AED</td>
                <td>MASD2</td>
                <td>AED</td>
            </tr>
            <tr>
                <td>11:00 AM</td>
                <td></td>
                <td>Intro a Criptografia.</td>
                <td>Desarrollo Web</td>
                <td>Intro a Criptografia</td>
                <td>Desarrollo Web</td>
            </tr>
            <tr>
                <td>4:00 PM</td>
                <td>Hacking Etico</td>
                <td></td>
                <td>Hacking Etico</td>
                <td>Hacking Etico</td>
                <td>Hacking Etico</td>

            </tr>
        </tbody>
    </table>
</body>
</html>
